@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy Extrabold'),
        url('../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
        url('../fonts/Gilroy-Extrabold.woff') format('woff'),
        url('../fonts/Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Nekst';
    src: url('../fonts/Nekst-Regular.eot');
    src: local('Nekst Regular'), local('Nekst Regular'),
        url('../fonts/Nekst-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nekst-Regular.woff2') format('woff2'),
        url('../fonts/Nekst-Regular.woff') format('woff'),
        url('../fonts/Nekst-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nekst';
    src: url('../fonts/Nekst-Medium.eot');
    src: local('Nekst Medium'), local('Nekst Medium'),
        url('../fonts/Nekst-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nekst-Medium.woff2') format('woff2'),
        url('../fonts/Nekst-Medium.woff') format('woff'),
        url('../fonts/Nekst-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nekst';
    src: url('../fonts/Nekst-Bold.eot');
    src: local('Nekst Bold'), local('Nekst Bold'),
        url('../fonts/Nekst-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nekst-Bold.woff2') format('woff2'),
        url('../fonts/Nekst-Bold.woff') format('woff'),
        url('../fonts/Nekst-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}